<section class="content-header">
  <h1>
    合成图标
    <small>将相同尺寸的图标与角标合并</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-3">
      <strong>上传icon</strong>
      <div class="icon icon-lg">
        <img ng-if="icon" ng-src="/media/upload/icon/{{ icon }}">
        <img ng-if="!icon" ng-src="">
      </div>
      <div>
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>选择并上传icon</span>
          <input id="file-upload-icon" class="cls-file-upload" type="file" name="icon" data-url="/upload_to/icon" multiple="">
        </span>
        <p class="help-block">建议512*512的png文件</p>
      </div>
    </div>
    <div class="col-sm-3">
      <strong>上传角标</strong>
      <div class="icon icon-lg">
        <img ng-if="subscript" ng-src="/media/upload/subscript/{{ subscript }}">
        <img ng-if="!subscript" src="">
      </div>
      <div>
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>选择并上传角标</span>
          <input id="file-upload-subscript" class="cls-file-upload" type="file" name="subscript" data-url="/upload_to/subscript" multiple="">
        </span>
        <a href="javascript:;" class="icon-del" ng-click="delSubscript()">
          <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
        </a>
        <p class="help-block">建议512*512的png文件</p>
      </div>
    </div>
    <div class="col-sm-3">
      <strong>设备类型</strong>
      <div class="form-group">
        <select class="form-control" ng-model="info.os" ng-options="option.name for option in osOptions track by option.id" ng-change="changeOsType()"></select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" ng-click="iconMerge()">生成图标</button>
      </div>
      <div ng-show="iconsPath" class="form-group">
        <a class="btn btn-success" href="/media/icons/{{ info.os.id }}/{{ iconsPath }}.zip">下载全部(zip)</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="d in iconSet">
      <div class="icon-item">
        <div class="icon icon-sm">
          <img ng-if="iconsPath" ng-src="/media/icons/{{ info.os.id }}/{{ iconsPath }}/{{ d.filename }}">
          <img ng-if="!iconsPath" src="">
        </div>
        <p class="help-block">{{ d.filename }}</p>
        <p class="help-block">size: {{ d.size }}
          <a ng-show="iconsPath" href="/media/icons/{{ info.os.id }}/{{ iconsPath }}/{{ d.filename }}"><i class="glyphicon glyphicon-download-alt"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>