<section class="content-header">
  <h1>
    图片水印
    <small>给图片添加文字或图片水印</small>
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-3">
            <span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>上传图片</span>
              <input type="file" id="file-upload-image" class="cls-file-upload" name="image" data-url="/upload_to/image" multiple="">
            </span>
            <p class="help-block">选择并上传需要加水印的图片</p>
          </div>
          <div class="col-sm-6">
            <strong>原始图片</strong>
            <div class="icon icon-img-box">
              <img ng-if="image" ng-src="/media/upload/image/{{ image }}">
              <img ng-if="!image" ng-src="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <!--<i class="fa fa-arrows-alt"></i>-->
          <div class="col-sm-1">
            <strong>水印位置</strong>
          </div>
          <label ng-repeat="pos in wmpOptions" class="col-sm-2">
            <input type="radio" name="wmp" ng-model="info.wmp" ng-value="pos.id" ng-change="changeWMPos()">{{ pos.name }}
          </label>
        </div>
        <div class="form-group">
          <div class="col-sm-1">
            <strong>水印类型</strong>
          </div>
          <label ng-repeat="tp in wmtOptions" class="col-sm-2">
            <input type="radio" name="wmt" ng-model="info.wmt" ng-value="tp.id" ng-change="changeWMType()">{{ tp.name }}
          </label>
        </div>
        <div ng-show="info.isTxtType">
          <div class="form-group">
            <div class="col-sm-12">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
              <input type="text" class="form-control" ng-model="info.txt" placeholder="请填写水印文字">
            </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                  <select class="form-control" ng-model="info.font" ng-options="option.name for option in fontsOptions track by option.id" ng-change="changeTxtFont()"></select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-text-size"></i></span>
                <input type="number" class="form-control" ng-model="info.fontSize">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-text-color"></i></span>
                <input type="text" class="form-control" colorpicker="hex" ng-model="info.fontColor">
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="info.isTxtType">
          <div class="form-group">
            <div class="col-sm-3">
              <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>上传水印图标</span>
                <input type="file" id="file-upload-mark" class="cls-file-upload" name="mark" data-url="/upload_to/mark" multiple="">
              </span>
              <p class="help-block">选择并上传水印图标</p>
            </div>
            <div class="col-sm-6">
              <strong>水印图标</strong>
              <div class="icon icon-mark-box">
                <img ng-if="mark" ng-src="/media/upload/mark/{{ mark }}">
                <img ng-if="!mark" ng-src="">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary" ng-click="btnWaterMark()">生成水印图片</button>
          </div>
          <div ng-show="imagePath" class="col-sm-2">
            <a class="btn btn-success" href="/media/watermark/{{ info.wmt }}/{{ imagePath }}"><i class="glyphicon glyphicon-download-alt"></i>下载图片</a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <strong>效果预览</strong>
          <div class="icon icon-watermark">
            <img ng-if="imagePath" ng-src="/media/watermark/{{ info.wmt }}/{{ imagePath }}">
            <img ng-if="!imagePath" ng-src="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>